src/assets/sms.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="SendSms">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="lstnumero" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="label" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SendSmsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="SendSmsSoapIn">
<wsdl:part name="parameters" element="tns:SendSms"/>
</wsdl:message>
<wsdl:message name="SendSmsSoapOut">
<wsdl:part name="parameters" element="tns:SendSmsResponse"/>
</wsdl:message>
<wsdl:portType name="AccessSoap">
<wsdl:operation name="SendSms">
<wsdl:input message="tns:SendSmsSoapIn"/>
<wsdl:output message="tns:SendSmsSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AccessSoap" type="tns:AccessSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SendSms">
<soap:operation soapAction="http://tempuri.org/SendSms" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="AccessSoap12" type="tns:AccessSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SendSms">
<soap12:operation soapAction="http://tempuri.org/SendSms" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Access">
<wsdl:port name="AccessSoap" binding="tns:AccessSoap">
<soap:address location="http://psg.proassur.pro/apisms/access.asmx"/>
</wsdl:port>
<wsdl:port name="AccessSoap12" binding="tns:AccessSoap12">
<soap12:address location="http://psg.proassur.pro/apisms/access.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
